/* Temporary, we can make it look better later :)*/
html, body {
    height: 100%;
    margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background: blue;
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  font-family: Arial, sans-serif;
}
#dashboard {
    text-align: center; /* centers text and buttons */
}
#welcomePage {
    text-align: center;
}
.container {
  width: 360px;
  margin: 80px auto;
  text-align: center;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
